body {
    margin: auto;                               /* It fits contents to full screen */
    background-color: #333A73;                /* it sets background color  */
    font-family:Arial, Helvetica, sans-serif    /* it sets font family to Arial */
}

header {
    background-color: #FBA834;           /* it sets background color  */
    text-align: center;                    /* it aligns the text in center  */
    padding-top: 20px;                    /* it sets distance between the content and the top border */
    font-size: 22px;                      /* it sets size of the text*/
    padding-bottom: 10px;                 /* it sets distance between the content and the bottom border */
}

header h1 {
    margin: 0px        /*It removes margin of h1 tag*/
}

a {
    text-decoration: none;       /*It removes underline of text*/
    color: black;             /* it sets color of the text  */
    font-size: 25px;            /* it sets size of the text*/
    font-weight: 500;           /* it sets font thickness to 500 */
}

a:hover {
    color: #EEE4B1;          /* it sets color of the link when mouse cursor is pointed to link */
}

nav{
    display: flex;              /* it sets all elements placed in next to each other*/
    margin-left: auto;          /* it sets margin left to screen*/
    margin-right: auto;        /* it sets margin right to screen*/
    margin-top: 20px;          /* it sets distance between current and top of the elements of nav*/
    height: 100%;             /* it sets height to 100%*/
    width: 80%;               /* it sets width to 80%*/
    align-items: center;                  /* it aligns the text in center  */
    justify-content: space-between;       /*Within total width, it will distribute space evenly between the elements*/
}


.container {
    margin-top: 40px;               /* it sets distance between current element and top of the elements of container*/           
    display: flex;                  /* it sets all elements placed in next to each other*/
    margin-left: auto;              /* it sets margin left to screen*/
    margin-right: auto;             /* it sets margin right to screen*/
    width: 100%;                    /* it sets width to 100%*/
    justify-content: space-between;      /*Within total width, it will distribute space evenly between the elements*/
    font-size: 20px;                   /* it sets size of the text*/
    border-radius: 5px;                /* it sets border-radius to 5px*/
}

.section-left {
    margin-left: 25px;                /* it sets margin-left to 25 px*/
    height: 300px;                    /* it sets height to 300px*/
    width: 700px;                     /* it sets height to 700%*/
    background-color: #B6BBC4;      /* it sets background color  */
    float: left;                      /* the element float on left side*/
    padding-left: 25px ;               /* it sets distance between the content and the left border */
    border-radius: 5px;                /* it sets border-radius to 5px*/
}

.section-right {
    margin-right: 25px;                /* it sets margin-left to 25 px*/
    height: 300px;
    width: 700px;
    background-color: #B6BBC4;
    float: right;                      /* the element float on left side*/
    padding-left: 25px;
    border-radius: 5px;
}

.heading {
    font-weight: 750;                /* it sets font thickness to 750 */
    font-size: 22px;                 /* it sets size of the text*/
}

.notes {
    margin-top: 25px;;                /* it sets margin-top to 25 px*/
    margin-left: 25px;                /* it sets margin-left to 25 px*/
    margin-right: 25px;               /* it sets margin-right to 25 px*/
    padding: 5px;                    /* it sets distance between the content and the border */
    padding-left: 25px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #B6BBC4;
}

footer {
    background-color: #50C4ED;
    bottom: 0;
    text-align: center;
    font-size: 20px;
    width: 100%;
    position: fixed;
    padding: 7px;
}

footer p {
    margin: 0%;                    /* It removes the margin of p tag*/
}


