body {
    margin: auto;
    font-family: "Arial";
}

header {
    background-color: #17072b;
    color: #ffffff;
    text-align: center;
}

header ul{
    list-style-type: none;
    display: inline;
    flex-direction: column;
}

header h1 {
    margin: 0px;
}

aside {
    background-color: #172d67;
}

footer {
    background-color: #8c15e9;
}
