body {
    margin: auto;
    font-family: "Arial";
}

header {
    padding-top: 30px;
    background-color: #17072b;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

header ul{
    list-style-type: none;
    display: flex;
    margin: 25px auto;
    width: 45%;
    justify-content: space-between;
    padding-bottom: 15px;
}


header h1 {
    margin: 0px;
    font-family: Tahoma;
    text-decoration: underline;
}


aside {
    background-color: #172d67;
    float: right;
}

footer {
    background-color: #8c15e9;
}
