body {
    background-color: #ECF4D6;
    margin: auto;
}

.petrol_calculator {
    background-color: #9AD0C2;
    width: 30%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
