h1 {
    font-family: cursive;
    font-size: 50px;
    text-align: center;   
    margin-top: 20px;
    padding: 15px;
    color: #FFE7E7;
}

#description {
    font-size: 20px;
    text-align: center;
    color: #FFE7E7;
}

body {
    background-color: #944E63;
}

div {
    color: #FFE7E7;
    margin: 5px;
    padding: 10px;
}

#right {
    float: right;
}

#display {
    display: flex;
    justify-content: space-between;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width:80%; 
}

#titlebox{
    background-image: url('/Chapter-1-Introduction to HTML and CSS/Exercises/Recipe Page/Images/grilledchicken.jpg');
    background-size: auto;
    opacity: 0.5;
    background-repeat: no-repeat;
}


